body {
  background-color: #ffffff;
  color: #000000;
}

.header-navbar {
  background-color: rgb(102, 122, 99);
}

form {
  background-color: #ecf6f1;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

button:not(.btn-close),
input[type="submit"] {
  background-color: #2b652d;
  color: white;
}

button:not(.btn-close):hover,
input[type="submit"]:hover {
  background-color: #45a049;
}

.itinerary,
#tour-overview {
  background-color: #d1dbcc;
}

.booking-card,
.booking-form {
  background-color: #ecf6f1;
}

.item-grid {
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.details-card {
  background-color: #f9f9f9;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

a {
  color: #2b652d;
}

a:hover {
  color: #45a049;
}
