body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  text-align: center;
}

/* Common page styles */
h1 {
  margin: 20px 0;
}

h2 {
  margin: 0 0 20px 0;
}

.lead {
  font-size: 1.2em;
  margin: 20px 0;
}

a {
  font-weight: bold;
  text-decoration: none;
}

.button-container {
  margin: auto;
  max-width: 300px;
}

/* Form styles */
.center-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px;
  text-align: center;
}

.no-form-button,
form {
  padding: 20px;
  border-radius: 10px;
}

textarea,
input[type="number"],
input[type="text"],
input[type="email"],
input[type="password"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button:not(.btn-close, .carousel-control-prev, .carousel-control-next, .navbar-toggler),
input[type="submit"] {
  width: 100%;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/** Override background styles */
.no-bg {
  background-color: transparent !important;
  box-shadow: none !important;
}

/* Image carousel styles */
/* Keep consistent with the carousel images */
#featuredToursCarousel {
  min-height: 50vh;
  max-height: 77vh;
}

/* Set a minimum and maximum height to reduce scrolling */
#featuredToursCarousel img {
  min-height: 50vh;
  max-height: 77vh;
  object-fit: cover; /* Ensures the image covers the entire area without distortion */
}

/* Tour overview styles */
#searchContainer {
  margin: 20px auto;
  max-width: 800px;
}

#tourContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.tour-card {
  width: 25%;
}

#tour-overview {
  margin: auto 5em;
  padding: 30px 50px;
  text-align: left;
  display: flex;
  flex-direction: row;
}

.to-header {
  font-weight: bolder;
}

.to-carousel {
  flex: 50%;
  height: 50%;
  max-height: 500px;
}

.to-carousel img {
  width: 100%;
  height: 50%;
  max-height: 500px;
  object-fit: cover;
}

.to-details {
  flex: 50%;
  padding: 0 20px 50px;
}

.to-description {
  margin: 20px 0;
  line-height: 1.5em;
}

.to-features {
  --bs-icon-link-transform: translate3d(0, -0.125rem, 0);
  display: grid;
  grid-template-columns: auto auto;
}

.to-features .icon-link,
.to-features .icon-link:hover {
  font-weight: bold;
  text-decoration: none;
  color: inherit;
}

.itinerary {
  margin: 2em 5em;
  padding: 30px 50px;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.booking-body {
  margin: 2em 5em;
  padding: 30px 50px;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.booking-summary,
.booking-form {
  padding: 20px;
}

/* Dashboard styles */

.dashboard-buttons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  margin: 20px 20em;
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto;
}

.rounded {
  border-radius: 10px;
}

.back-button {
  max-width: 200px;
  padding: 10px;
}

.item-list {
  margin: 20px auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.item-grid {
  margin: 20px 20px;
  display: grid;
  grid-template-areas: "left right";
  grid-template-columns: 2fr 1fr;
  gap: 10px;
  text-align: justify;
  padding: 20px;
  border-radius: 10px;
}

.item-left {
  grid-area: left;
}

.item-right {
  grid-area: right;
}

.details-card {
  margin: 0;
  max-width: 800px;
  padding: 50px;
  text-align: justify;
}

.actions-container {
  margin: 0;
}

.item-grid h2,
.item-grid p {
  margin: 0 20px;
}

.additional-details-container {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
}

.scrollable-gallery {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  min-height: 200px;
  max-height: 500px;
}

.scrollable-gallery > p {
  margin: 20px auto;
  text-align: center;
}

.scrollable-card {
  margin: 20px;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
}

.scrollable-left {
  flex: 70%;
  padding: 20px 10px;
}

.scrollable-left img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.scrollable-right {
  flex: 30%;
}

/* Responsive layout - override? */
@media (max-width: 1000px) {
  #tourContainer {
    margin: 0 auto;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .tour-card {
    width: 80%;
  }

  .dashboard-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    margin: 20px 20px;
  }

  .to-header {
    margin: 20px 0;
  }

  /** Make a one-column layout for the tour overview */
  .tour-overview {
    flex-direction: column;
  }

  .to-header {
    margin: 20px 0;
  }

  .booking-form {
    padding: 20px;
  }

  .rhide {
    display: none; /* Hide in small space */
  }

  .profile-container {
    margin: 20px 20px;
  }

  .details-card {
    flex: 80%;
    padding: 30px;
  }

  .item-list {
    flex-direction: column;
    align-items: center;
  }

  .item-grid {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
